.mensaje{
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 20rem;
    padding-left: 10rem;

    
}

.mensaje__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mensaje__item{
    max-width: 300px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0rem 0 2rem 8rem;
    background-position: left;
}
.mensaje__logo{
    background-image: url('../img/prod1.jpg');
    height: 90px;
    width: 90px;
}
.mensaje__item__titulo{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;


}
.mensaje__item__texto{
    line-height: normal;
    font-family: 'Montserrat',sans-serif;
}
.mensaje:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}