/* Paleta de Colores ROOT */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-FondoCuerpo: #009bdf;
    --color-FondoCuerpo2: #c96bee;
    --color-Texto: #ffffff;
    --color-Subtitulos: #05366e;
	--color-Titulos: #000000;
    --color-Fondo: #ffea00;
    --color-botones: #ed0080; 
    --color-menu: #891f9e;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

.mensaje{
    /* ESTILOS */
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.mensaje__lista{
    /* FLEXBOX */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /* FLEXBOX 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;*/
}

.mensaje__item{
    /* FLEXBOX */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* ESTILOS */
    max-width: 300px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.mensaje__logo{
    /* ESTILOS */
    background-image: url('../img/prod1.jpg');
    height: 8rem;
    width: 8rem;
    margin: 10px;
}
.mensaje__item__titulo{
    /* ESTILOS */
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 18px;
}
.mensaje__item__texto{
    /* ESTILOS */
    line-height: normal;
    font-family: var(--fuente-montserrat);
}